:root {
    --cor-fundo: #f8fafc;

    --cor-card: #ffffff;

    --cor-primaria: #2563eb;

    --cor-borda: #e2e8f0;

    --cor-texto: #0f172a;

    --cor-texto-secundario: #64748b;

    --fonte-titulo: "Archivo", sans-serif;

    --fonte-texto: "Inter", sans-serif;
}