*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #303030;
  color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

button, input, select, textarea {
  appearance: none;
}



